html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /*background: #ebecee;*/
}


a,
a:hover,
a:active,
a:link {
  text-decoration: none;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* project id 448274 */
  src: url('//at.alicdn.com/t/font_448274_dc0kj1iycq7rdx6r.eot');
  src: url('//at.alicdn.com/t/font_448274_dc0kj1iycq7rdx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_448274_dc0kj1iycq7rdx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_448274_dc0kj1iycq7rdx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_448274_dc0kj1iycq7rdx6r.svg#iconfont') format('svg');
}


.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}

.el-submenu__title, .el-menu-item {
  color: #ECF0F1 !important;
  font-weight: bold;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover {
  background-color: #2E7085 !important;
}
/*.el-menu {*/
  /*display: block !important;*/
/*}*/
